{% load static %}
{% static "images" as baseUrl%}

<!DOCTYPE html>
<html>
<head>
	<title>Login & Registro de Cliente</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login-Cliente.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
   <p>p</p>
   <p>p</p>
   <p>pppppppppppppppppppppp<img src="{% static 'images/logos/logoNegro.png' %}"></p>
   <form action="loginCliente" method="post">
    {% csrf_token %}
    <div class="form sign-in">
      <h2>Login de Cliente</h2>
      <label>
        <span>Username</span>
        <input type="text" name="username">
      </label>
      <label>
        <span>Contraseña</span>
        <input type="password" name="password">
      </label>
      <button type="submit" class="submit" >Ingresar</button>
      <p class="forgot-pass">Olvid&oacute; su contraseña ?</p>

      <div class="social-media">
        <ul>
          <li><img src="{% static 'images/form/facebook.png' %}"></li>
          <li><img src="{% static 'images/form/twitter.png' %}"></li>
          <li><img src="{% static 'images/form/linkedin.png' %}"></li>
          <li><img src="{% static 'images/form/instagram.png' %}"></li>
        </ul>
      </div>
    </div>

   </form> 

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>A&uacute;n no est&aacute; Registrado?</h2>
          <p>Si no est&aacute; registrado, acceda al siguiente bot&oacute;n de Registro.</p>
        </div>
        <div class="img-text m-in">
          <h2>Ya est&aacute; Registrado?</h2>
          <p>Si ya est&aacute; registrado, acceda al siguiente bot&oacute;n de Login.</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Registro</span>
          <span class="m-in">Login</span>
        </div>
      </div>

      <form action="registroCliente" method="post">
        {% csrf_token %}
        <div class="form sign-up">
          <h2>Registro de Datos Cliente</h2>
          <label>
            <span>Nombres</span>
            <input type="text" name="first_name">
          </label>
          <label>
            <span>Apellidos</span>
            <input type="text" name="last_name">
          </label>
          <label>
            <span>Username</span>
            <input type="text" name="username">
          </label>
          <label>
            <span>Email</span>
            <input type="email" name="email">
          </label>
          <label>
            <span>Contraseña</span>
            <input type="password" name="password1">
          </label>
          <label>
            <span>Confirmar Contraseña</span>
            <input type="password" name="password2">
          </label>
          <button type="submit" class="submit">Registrarse Ahora</button>
        </div>

      </form>

    </div>
  </div>
<script type="text/javascript" src="{% static 'js/login-Cliente.js' %}"></script>
</body>
</html>