{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Modificar Profesion</title>
    <link href="{% static 'css/modificarProfesiones.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Modificando Campos</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group">
                        <p>
                         <label>Nombre de Profesion (*) : </label>
                        {{form.ProCod}}
                        </p>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    {{form.img}}
                                </div>
                           
                            </div>
                        </div>

                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Aplicar Modificaciones</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>