{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil de Usuario</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- utility css file -->
    <link rel="stylesheet" href="{% static 'css/perfilUsuario.css' %}">
    <!-- style css file -->
    <link rel = "stylesheet" href = "{% static 'css/perfilUsuario2.css' %}">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <!-- navbar section -->
    <nav class = "navbar">
      <div class = "container">
        <div class = "brand-and-toggler">
          <a href = "index.html" class = "navbar-brand">{{nombre.first_name}}</a>
          <button type = "button" class = "navbar-toggler" id = "navbar-toggler">
            <span>
              <i class = "fas fa-bars"></i>
            </span>
          </button>
        </div>

        <div class = "navbar-collapse">
          <ul class = "navbar-nav">
          
           <div class="logo"> <a href="index.html"><img src="{% static 'images/logos/logoBlanco.png' %}" alt="logo" /></a> </div>
           
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navbar section -->



    <!-- home page -->
    <section class = "home container">
      <div class = "row">
        <div class = "row-left">
          <h3>Hola!</h3>
          <h1>Soy <span>{{nombre.first_name}}</span><span> {{nombre.last_name}}</span></h1>
          <h2>un usuario de Service Next</h2>
          <div class = "home-pg-btn">
            <a href="{% url 'index' %}" class = "btn">atras</a>
          </div>
        </div>

        <div class = "row-right">
          <div class = "img-border">
            <div class = "img-container">
              <img src = "{% static 'images/it_service/my-photo.jpg' %}" alt = "my photo">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of home page -->


    <!-- about page -->
    <section class = "about container">
      <div class = "title">
        <h2>Sobre mi</h2>
        <div>
          <h2>sobre mi</h2>
        </div>
      </div>

      <div class = "row">
        <div class = "row-left">
          <img src = "{% static 'images/it_service/my-photo.jpg' %}" alt = "about photo">
        </div>

        <div class = "row-right">
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio praesentium numquam alias soluta incidunt? Similique assumenda, voluptatibus saepe quae iusto ratione dicta consectetur nesciunt perspiciatis!</p>
          <div class = "about-content">
            <ul>
              <li class = "text">
                <span>Nombres: </span>
                <span>{{nombre.first_name}}</span>
              </li>
              <li class = "text">
                <span>Apellidos: </span>
                <span>{{nombre.last_name}}</span>
              </li>
              <li class = "text">
                <span>Direccion: </span>
                <span>{{direccion.DisNom}}</span>
              </li>
              <li class = "text">
                <span>Pais: </span>
                <span>Peru</span>
              </li>
              <li class = "text">
                <span>Correo Electronico: </span>
                <span>{{nombre.email}}</span>
              </li>
              <li class = "text">
                <span>Numero de Celular: </span>
                <span>{{nombre2.UsuNorTel}}</span>
              </li>
            </ul>
          </div>

          <h3>15 <span>Trabajos Publicados</span></h3>
          <button type = "button" class = "btn"><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">Hablar por Email</a></button>
        </div>
      </div>
    </section>
    <!-- end of about page -->
    <!-- footer -->
    <footer class = "footer container">
     
      <div class = "footer-text">
        <p class = "text"> Copyright &copy; 2021 Todos los Derechos Reservados | Service Next</p>
      </div>
    </footer>
    <!-- end of footer -->
    <!-- custom js file -->
    <script src="{% static 'js/usuarioPerfil.js' %}"></script>
  </body>
</html>